<script type="text/javascript">

var googleLibLoaded = false;
var	googleScriptLoaded = false;


$.getScript("https://www.google.com/jsapi", function(){
	googleScriptLoaded = true;
	ready<%= e.name %>();
});
	

function libLoaded<%= e.name %>() {
	googleLibLoaded = true;
	drawChart<%= e.name %> ();
};


function drawChart<%= e.name %>() {
	var data = new google.visualization.DataTable();
	
	<% if e.chart_type==:Timeline %>
	data.addColumn({ type: 'string', id: 'Device' });
    data.addColumn({ type: 'date', id: 'Start' });
    data.addColumn({ type: 'date', id: 'End' });
    
    <% else %>
	data.addColumn({ type: 'datetime' });
		<% e.devs.each do |d| %>
			data.addColumn({ type: 'number', label: '<%= d.caption %>' });
		<% end %>
    <% end %>
    
    
    data.addRows(<%= e.data_js %>);

	// Set chart options
	var options = {
		title : '<%= e.caption %>'
		,width : <%= e.width || 670 %>
		,height : <%= e.height || 450 %>
	};

	// Instantiate and draw our chart, passing in some options.
	var chart = new google.visualization.<%= e.chart_type %>($('#chart_div_<%= e.name %>')[0]);
	chart.draw(data, options);
}

function ready<%= e.name %>(){
	// google.setOnLoadCallback( libLoaded );
	
	if (!googleScriptLoaded)
		return;
	
	google.load('visualization', '1.0', {
		packages: ['corechart','timeline']
		, callback: libLoaded<%= e.name %>
	});

	if (googleLibLoaded) 
		drawChart<%= e.name %>();
};
	
	
//$(document).on('page:change', ready() );
$(document.body).on('page:load', ready<%= e.name %>() );
	
</script>


<div id="chart_div_<%= e.name %>" height="10"></div>