<%= form_tag({}, {method: :post, remote: true}) do %>
  <%= hidden_field_tag :id, @entity.id %>
  <%= hidden_field_tag :name, @root_entity.name %>
  <table>
  <% [*@entity.input_items].each do |item| %>
        <%
          name_base = "input[#{ item[:name] || item[:caption] }]"
          name = name_base + '[value]'
          type = item[:type] || 'text'
          options = item.except(:name, :type, :caption, :default)
          caption = item[:caption] || name
        %>
        <tr>
          <td class="input_caption">
            <%= label_tag name, caption %>
          </td>
          <td>
            <%= public_send("#{ type }_field_tag", name, item[:default], options) %>
            <%= hidden_field_tag(name_base + '[type]', type) %>
          </td>
        </tr>
        <%#= submit_tag %>
  <% end %>
  </table>
  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>