<h1>Editing entity</h1>

<%= render 'form' %>

<%= link_to 'Copy', new_entity_path(@entity) %>

<%= link_to 'Insert', "/entities/insert/#{ @entity.id }" %>

<%= link_to 'Delete', entity_path(@entity), method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
  <%= link_to 'Export to file', "/entities/export/#{ @entity.id }", method: :post %>
</p>
<%#= link_to 'Show', {url:entity_path(@entity)} %>
<p>
  <%= link_to 'Back', url_for(:back) %>
</p>