<%= form_tag '', multipart: true do %>
    <p>
      <%= label_tag :parent, 'Insert into:' %>
      <%= select_tag :parent, options_for_select(parents_options(@parents, @entity)), include_blank: "ROOT" %>
    </p>
    <p>
      <%= file_field_tag 'files[]', multiple: true %>
    </p>
    <%= submit_tag 'Import!' %>
<% end %>