<%= provide(:title, "Entities") %>
<%= render '/layouts/entities_errors', entities: @entities %>

<% @filter.each do |filter_name, filter_value| %>
	<p>
	<%= filter_name %> : <%= filter_value %> 
	</p>
<% end %>
<table class="entities">
  <thead>
    <tr>
      <th>Caption</th>
      <th>Class</th>
   	  <th>Name</th>
   	  <th>Driver</th>
      <th>Address</th>
      <th>Value</th>
      <th>Power</th>
      <th>Events</th>
      <th>Jobs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <% edit_path = edit_entity_path(entity) %>
      <tr>
      	<td data-link="<%= edit_path %>" style="padding-left:<%= entity.depth*30 %>px">
      		<% ic = entity.image %>
      		<%= image_tag ic, width: 16, height: 16 if ic %>
      		<%= entity.caption %>
      	</td>
        <td data-link="<%= edit_path %>"><%= entity.type %></td>
        <td data-link="<%= edit_path %>"><%= entity.name %></td>
        <td data-link="<%= edit_path %>"><%= entity.driver %></td>
        <td data-link="<%= edit_path %>"><%= entity.address %></td>
        <td data-link="<%= edit_path %>"><%= entity.human_value %></td>
        <td data-link="<%= edit_path %>"><%= entity.power %></td>
        <td data-link="<%= edit_path %>"> <%= image_tag('script-icon.png') if entity.behavior_script %>
        	<% entity.events.each do |event| %>
        		<%= content_tag :span, event.name, {title: (event.options if event.options.any?)}.compact %>
        		<%#= content_tag :span, event.options if event.options.any? %>
        	<% end %>
        </td>
        <td data-link="<%= edit_path %>"><% entity.jobs.each do |j| %>
	        	<%= content_tag :span, j.queue, {title: "at #{j.run_at}\n#{j.last_error}", class: "job#{' error' if j.last_error}"}.compact %>
        	<% end %>
        </td>
        <td><%= link_to 'Copy', new_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity_path(entity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
