<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Name:</strong>
	<%= @driver_name %>
</p>

<table>
	<tr>
		<% if @driver.respond_to? :scan %>
		<th> Scanned address </th>
		<% end %>

        <th>Name</th>
        <th>Caption</th>
        <th>Class</th>
        <th>Address</th>
        <th>Value</th>
	</tr>
	<% @entities.each do |e| %>
	<tr>
		<% if @driver.respond_to? :scan %>
		<td> <%= e.driver_address %> </td>
		<% end %>
		<td> <%=
 if e.new_record?
        link_to '[create new]', new_entity_path(driver: @driver_name, address: e.driver_address)
      else
        link_to e.name, edit_entity_path(e)
      end
%> </td>
      <td>
        <% ic = e.image %>
        <%= image_tag ic, width: 16, height: 16 if ic %>
        <%= e.caption %>
      </td>
      <td> <%= e.type unless e.new_record? %> </td>
      <td> <%= e.address %> </td>
      <td> <%= e.human_value %> </td>
	</tr>
	<% end %>
</table>

<%= content_tag(:p, @driver.description) if @driver.respond_to? :description%>

<%= content_tag(:div, @driver.description_data, class: :preformatted) if @driver.respond_to? :description_data%>


