<% if user_signed_in? %>
	<nav class="nav-wrap">
		<ul class="nav">
			<% Entity.menu_entities(@root_entity).each_with_index do |e,i| %>
			<%= render 'layouts/header_menu_item', title: e.caption, id: e.id, klass: 'menu_entity', url: (if i==0 then root_path else "/show/#{e.name}" end) %>
			<% end %>
			
			<%= render 'layouts/header_menu_item', title: "Sign out", url: destroy_user_session_path, method: :delete %>
			
			<%= content_tag :li do %>
				<%= content_tag :a, 'Admin', ({class: 'active'} if %w(Entities Classes Users).include?(yield(:title)) ) %>
				<ul>
					<%= render 'layouts/header_menu_item', title: "Entities", url: entities_path %>
					<%= render 'layouts/header_menu_item', title: "Classes", url: '/entities/classes' %>
					<%= render 'layouts/header_menu_item', title: "Drivers", url: drivers_path %>
					<%= render 'layouts/header_menu_item', title: "Users", url: users_path  %>
					<%= (render 'layouts/header_menu_item', title: "Design mode", url: 'javascript://', klass: 'design_menu_item') if params[:controller]=='main' && params[:action]=='show' %>
					<%#= render 'layouts/header_menu_item', title: "Network setup", url: edit_network_path %>
                    <%= render 'layouts/header_menu_item', title: "Reboot!", url: '/admin/reboot', method: :post %>
					<%= render 'layouts/header_menu_item', title: "Console", url: '?console=1' %>
				</ul>
			<% end if isadmin? %>
		</ul>
		<ul>
			<%#= current_user.name %>
		</ul>	
	</nav>
<% end %>
