<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'jquery-ui', 'jquery.contextMenu.css', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'jquery', 'jquery_ujs', 'jquery-ui', 'jquery.contextMenu', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'ace/ace', 'ace/worker-html','ace/mode-ruby', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<header>
			<%= render 'layouts/header'%>
		</header>
		<%= render 'layouts/flash'%>
		<%= yield %>

		<footer>
			<%= render 'layouts/footer' %>
		</footer>
		<% if Rails.env.development? %>
		<div>
			<%#= debug(params) %>
			<%#= debug(cookies) %>
			<%#= debug(session) %>
		</div>
		<% end %>
	</body>
</html>
